* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(3, 3, 3);
    font-family: Helvetica;
}

.calculator {
    background: rgb(3, 3, 3);       /* Match display background */
    padding: 1.35rem;
    width: 405px;
  
    border: none;            /* Remove border */
    border-radius: 0;        /* Remove rounded corners if not needed */
  }
  

.display {
    background: rgb(3, 3, 3);       /* Match calculator background */
    color: white;            /* Text color */
    height: 120px;
    padding: 20px;
    font-size: 2.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: auto;
  
    border: none;
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
  
  

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: 1px solid #080808;
    border-radius: 5px;
    background: #fdae03;
    cursor: pointer;
    transition: 0.2s;
  
}

button:hover {
background: #ddd;
}

.clear {
    grid-column: span 2;
    background: #111111;
    color: rgb(12, 231, 107);
}

.delete {
    grid-column: span 2;
    background: #0f0f10;
    color: rgb(224, 221, 16);
}

.calculator {
    transform: scale(1.35);
    transform-origin: center;
}