* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(3, 3, 3);
    font-family: Helvetica;
}

.calculator {
    background: rgb(3, 3, 3);
    padding: 1.35rem;
    width: 405px;
    
    border-top: 2px solid #f08205;   /* Top border */
    border-right: 2px solid #f08205; /* Right border */
    border-bottom: 2px solid #f08205; /* Bottom border */
    /* No border on the left side */
    border-left: 2px solid #f08205;
    border-radius: 0;  /* Remove rounded corners */
    transform: scale(1.35);
    transform-origin: center;
}


.display {
    background: rgb(3, 3, 3);       /* Match calculator background */
    color: white;            /* Text color */
    height: 120px;
    padding: 20px;
    font-size: 2.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: auto;
  
    border: none;
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
  
  

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: 1px solid #080808;
    border-radius: 5px;
    background: #1862ac;
    cursor: pointer;
    transition: 0.2s;
  
}

button:hover {
background: #ddd;
}

.clear {
    grid-column: span 2;
    background: #eb8f06;
    color: rgba(16, 16, 15, 0.705);
}

.delete {
    grid-column: span 2;
    background: #c064d0;
    color: rgba(16, 15, 16, 0.934);
}

.calculator {
    transform: scale(1.35);
    transform-origin: center;
}